cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.4.0
docutils==0.21.2
google-api-core==2.21.0
google-api-python-client==2.149.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
httplib2==0.22.0
idna==3.10
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
oauthlib==3.2.2
proto-plus==1.24.0
protobuf==5.28.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
Pygments==2.18.0
pyparsing==3.2.0
pypiwin32==223
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.15.0
pyudev==0.24.3
pywin32==308
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
tk==0.1.0
uritemplate==4.1.1
urllib3==2.2.3
usb-monitor==1.21
WMI==1.5.1